
.login-contianer {
	width: 50%;
	margin: auto;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	.login-contianer {
		width: 100%;
	}
}

/*.form-contianer {
	max-width: 300px;
	margin-left: 20px;

}

.input-group-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: baseline;
	position: relative;
}

.input-group-container > label {
	position: relative;
	bottom: -9px;
}

.form-contianer button {
	float: right;
}

.button-group {
	display: flex;
	justify-content: space-between;
}

.button-group > button:first-of-type {
	margin-right: 20px;
}*/


.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
  position: relative;
}
.one {
  grid-column: 1;
  grid-row: 1;
  position: relative;
	bottom: -9px;
}
.two { 
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 1;
  grid-row: 2;
  position: relative;
	bottom: -9px;
}
.four {
  grid-column: 2;
  grid-row: 2;
}
.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3;
}