.PageMessage-container {
	position: absolute;
	width: 50%;
	top: 2%;
	left: 50%;
	transform: translate(-50%, -2%);
	border-radius: 3px;
	padding: 20px;
}

.error {
	color: white;
	border: 2px solid rgb(215, 0, 0);
	background-color: rgba(215, 0, 0, 0.75);
}

.warning {
	color: black;
	border: 2px solid rgb(231, 227, 18);
	background-color: rgba(231, 227, 18, 0.75);
}

.info {
	color: black;
	border: 2px solid rgb(31, 135, 252);
	background-color: rgba(171, 178, 185, 0.75);
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .login-contianer {
    width: 90%;
  }
}