
.register-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
  position: relative;
}

.fix-bottom {
  position: relative;
  bottom: -9px;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two { 
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-column: 1;
  grid-row: 2;
  position: relative;
	bottom: -9px;
}
.four {
  grid-column: 2;
  grid-row: 2;
}

.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3;
}

.seven {
  grid-column: 1;
  grid-row: 4;
}
.eight {
  grid-column: 2;
  grid-row: 4;
}

.nine {
  grid-column: 1;
  grid-row: 5;
}
.ten {
  grid-column: 2;
  grid-row: 5;
}

.eleven {
  grid-column: 2;
  grid-row: 6;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .register-grid {
    width: 100%;
  }
}